<div class="loginPage">
<div class="row dd">
    <div class="col-md-5  col-sm-6 col-8 offset-md-4 offset-sm-3 offset-2">
       
            <div class="formContainer">
                <h2>Login here</h2>
                <form [formGroup]="loginForm">
                    <mat-form-field>
                        <mat-label for="uName">Username</mat-label>
                        <input matInput type="email" id="uName" formControlName="uName" required
                            placeholder="Enter your Email Id">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="pwd">Password</mat-label>
                        <input matInput type="password" id="pwd" formControlName="password" required
                            placeholder="Enter Password">
                    </mat-form-field>
                    <button class="btn btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>